pyopenssl 
requests
mysqlclient 
pymysql 
pygraphviz 
graphviz
djangorestframework
Django==2.2.5
celery==5.2.7
kombu
redis==4.3.4

### for debugging
ptvsd 
#pytest
#flower

### needed?
#pyasn1
#ndg-httpsclient
